:root {
    --main-bg-color: #4A6157;
    --form-bg-color: #768D70;
    --form-border-color: #F2E6BE;
    --button-bg-color: #768D70;
    --button-border-color: #F2E6BE;
    --text-color: white;
}

html, body {
    height: 100%;
    width: 100vw;
}

@font-face {
    font-family: "logoFont";
    src: url("fonts/min_sans/fonts/woff2/MinSans-Bold.woff2");
    font-weight: bold;
}

@media only screen and (max-width: 1074px) {
    body {
        flex-direction: column;
        scrollbar-width: 0px;
    }

    aside {
        height: 40vh;
        width: 100vw;
        min-height: 500px;
    }

    #sidebarImg {
        height: 40vh;
        width: 100%;
        min-height: 500px;
    }
    
    .logoBG {
        top: 50px;
        height: 12rem;
        width: 100%;
    }

    #photoCredit {
        top: 10px;
        left: 10px;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (min-width: 1074px) {
    body {
        flex-direction: row;
    }

    aside {
        height: 100%;
        width: 40vw;
        min-width: 500px;
    }

    #sidebarImg {
        height: 100%;
        width: 40vw;
        min-width: 500px;
    }
    
    .logoBG {
        top: 50px;
        height: 12rem;
        width: 40vw;
        min-width: 500px;
    }

    #photoCredit {
        bottom: 10px;
        left: 10px;
    }

    main {
        width: 60vw;
    }
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

#sidebarImg {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.logoBG {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 71, 71, 0.2);
}

#logoImg {
    height: 9rem;
}

#logoText {
    color: var(--text-color);
    font-family: logoFont;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}

#photoCredit {
    position: absolute;
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 50px;
    font-size: 1.5rem;
}

.titleText {
    padding: 20px 0;
    font-size: 2rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 50px 50px;
    min-width: 428px;
    background-color: var(--form-bg-color);
    border-radius: 16px;
    box-shadow: 0 0 5px black;
}

p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px 0;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    font-family: inherit;
    font-size: 100%;
}

button {
    font-family: inherit;
    font-size: 100%;
    height: 50px;
    width: 200px;
    background-color: var(--button-border-color);
    border: solid var(--button-bg-color);
    color: var(--main-bg-color);
    border-radius: 16px;
    margin: 20px 0;
}

button:hover {
    color: var(--text-color);
    background-color: var(--button-bg-color);
    border: solid var(--button-border-color);
}

#creditLink:link,
#creditLink:visited {
    color: white;
}

a:link,
a:visited {
    color: var(--text-color);
}